# Python Lists
List items are ordered, changeable, and allow duplicate values.
Tuples are written with Square brackets.

In [3]:
animals = ['dog','cat','lion','tiger']
animals

['dog', 'cat', 'lion', 'tiger']

In [4]:
print(len(animals))
print(type(animals))

4
<class 'list'>

In [6]:
print(
      animals[0],animals[-1],
      animals[2:-1]
)

dog tiger ['lion']

In [10]:
if "apple" in animals:
  print("Yes, 'apple' is in the animals list")
else:
  print("No, 'apple' is not in the animals list")

No, 'apple' is not in the animals list

# ------Add List Items-----
append()

insert()

extend()

In [11]:
#Insert "watermelon" as the third item:
animals.insert(2, "mouse")
print(animals)

['dog', 'cat', 'mouse', 'lion', 'tiger']

In [12]:
#Using the append() method to append an item:
animals.append("owl")
print(animals)

['dog', 'cat', 'mouse', 'lion', 'tiger', 'owl']

In [13]:
#Add the elements of tropical to thislist:
fruits = ["apple", "banana", "cherry"]
fruits2 = ["mango", "pineapple", "papaya"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Add elements of a tuple to a list:
fruits = ["apple", "banana", "cherry"]
fruits2 = ("kiwi", "orange")
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# ------Remove List Items--------
remove(): it removes the specified item.

pop():    it removes the specified index.

del:      this keyword also removes the specified index:(can also delete the list completely.)

clear():  this method empties the list (The list still remains, but it has no content)

In [15]:
#Remove the first occurance of "banana":
#Remove Specified Item
fruits = ["apple", "banana", "cherry", "banana", "kiwi"]
fruits.remove('kiwi')
print(fruits)

['apple', 'banana', 'cherry', 'banana']

In [16]:
#Remove Specified Index
#The pop() method removes the specified index.

fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [17]:
#The del keyword also removes the specified index:
#The del keyword can also delete the list completely.

fruits = ["apple", "banana", "cherry"]
del fruits[0]

In [18]:
print(fruits)

['banana', 'cherry']

In [19]:
#The clear() method empties the list.
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

# ------Sort Lists------
sort():
To sort descending, use the keyword argument reverse = True:

reverse(): this method reverses the current sorting order of the elements.

both Sort(), Reverse() are both inplace

In [20]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [21]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [22]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'Kiwi', 'Orange', 'banana']

Reversed, sorted can be also used, which are not inplace

In [25]:
print(list(reversed(fruits)), sorted(fruits))

['banana', 'Orange', 'Kiwi', 'cherry'] ['Kiwi', 'Orange', 'banana', 'cherry']

In [26]:
s, e = 0,len(fruits)-1

while s<e:
  fruits[s],fruits[e] = fruits[e],fruits[s]
  s+=1
  e-=1
print(fruits)

['banana', 'Orange', 'Kiwi', 'cherry']

# ---------Join Two Lists--------
using the + operator.
Append list2 into list1:
Use the extend() method to add list2 at the end of list1:

In [27]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [28]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [29]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# ---------Copy Lists---------
Make a copy of a list with the copy() method:
built-in method list().

In [30]:
fruits = ["apple", "banana", "cherry"]
Newlist = fruits.copy()
print(Newlist)

['apple', 'banana', 'cherry']

In [31]:
fruits = ["apple", "banana", "cherry"]
Newlist = list(fruits)
print(Newlist)

['apple', 'banana', 'cherry']

In [35]:

# 1. list()
sports = list(('baseball', 'football', 'soccer'))
print(sports)  # Output: ['baseball', 'football', 'soccer']

# 2. len()
my_list = [1, 2, 3, 4]
print(len(my_list))  # Output: 4

# 3. append()
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

# 4. extend()
my_list = [1, 2]
my_list.extend([3, 4])
print(my_list)  # Output: [1, 2, 3, 4]

# 5. insert()
my_list = [1, 2, 3]
my_list.insert(1, 'a')
print(my_list)  # Output: [1, 'a', 2, 3]

# 6. remove()
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # Output: [1, 3, 2]

# 7. pop()
my_list = [1, 2, 3]
popped_value = my_list.pop()
print(popped_value)  # Output: 3
print(my_list)       # Output: [1, 2]

# 8. clear()
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # Output: []

# 9. index()
my_list = ['a', 'b', 'c']
print(my_list.index('b'))  # Output: 1

# 10. count()
my_list = [1, 2, 2, 3]
print(my_list.count(2))  # Output: 2

# 11. sort()
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  # Output: [1, 2, 3]

my_list.sort(reverse=False)
print('reverse',my_list)

# 12. reverse()
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # Output: [3, 2, 1]

# 13. copy()
my_list = [1, 2, 3]
new_list = my_list.copy()
print(new_list)  # Output: [1, 2, 3]

# 14. sorted()
my_list = [3, 1, 2]
sorted_list = sorted(my_list)
print(sorted_list)  # Output: [1, 2, 3]

# 15. reversed()
my_list = [1, 2, 3]
reversed_list = list(reversed(my_list))
print(reversed_list)  # Output: [3, 2, 1]

# 16. min()
my_list = [3, 1, 2]
print(min(my_list))  # Output: 1

# 17. max()
my_list = [3, 1, 2]
print(max(my_list))  # Output: 3

# 18. sum()
my_list = [1, 2, 3]
print(sum(my_list))  # Output: 6

['baseball', 'football', 'soccer']
4
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 'a', 2, 3]
[1, 3, 2]
3
[1, 2]
[]
1
2
[1, 2, 3]
reverse [1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[1, 2, 3]
[3, 2, 1]
1
3
6