# ---------Python Sets----------
A set is a collection which is unordered, unchangeable*, and Duplicates Not Allowed.
Sets are used to store multiple items in a single variable.
* Note: Set items are unchangeable, but you can remove items and add new items.
Sets are written with curly brackets.

In [1]:
fruits = {"apple", "banana", "cherry", "apple"}

print(fruits)
print(len(fruits))
print(type(fruits))

{'apple', 'banana', 'cherry'}
3
<class 'set'>

In [2]:
#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
fruits = {"apple", "banana", "cherry", True, 1, 2}
print(fruits)

{True, 2, 'banana', 'apple', 'cherry'}

In [3]:
#Using the set() constructor to make a set:
fruits = set(("apple", "banana", "cherry")) # note the double round-brackets
print(fruits)

{'apple', 'banana', 'cherry'}

# -------Access Set Items----------
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [4]:
fruits = {"apple", "banana", "cherry"}
print("banana" in fruits)

True

# -----Add Set Items-----------
Once a set is created, you cannot change its items, but you can add new items.

#Add an item to a set, using the add() method:
#To add items from another set into the current set, use the update() method.

In [5]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'banana', 'cherry', 'orange'}

In [6]:
fruits = {"apple", "banana", "cherry"}
fruits2 = {"pineapple", "mango", "papaya"}
fruits.update(fruits2)
print(fruits)

{'mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry'}

# ---------Remove Set Items-----------
Remove "banana" by using the remove() method:
Remove "banana" by using the discard() method:
Remove a random item by using the pop() method:
The clear() method empties the set:
The del keyword will delete the set completely:

In [7]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [8]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [9]:
fruits = {"apple", "banana", "cherry"}
x = fruits.pop()
print(x)
print(fruits)

apple
{'banana', 'cherry'}

In [10]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [11]:
fruits = {"apple", "banana", "cherry"}
del fruits

# --------Join Two Sets--------
The union() method returns a new set with all items from both sets:
The update() method inserts the items in set2 into set1:
(Keep ONLY the Duplicates): The intersection_update() method will keep only the items that are present in both sets.
(Keep All, But NOT the Duplicates):The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'b', 1, 'a', 2, 3, 'c'}

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'b', 1, 'a', 2, 3, 'c'}

Python sets are a powerful built-in data type that allows for the storage of unordered collections of unique elements. They come equipped with various methods that facilitate mathematical operations and manipulation of the data. Below is a comprehensive list of Python set methods along with their descriptions and examples.

## List of Python Set Methods

| Method                        | Description                                                                 |
|-------------------------------|-----------------------------------------------------------------------------|
| `add(element)`                | Adds an element to the set.                                                |
| `clear()`                     | Removes all elements from the set.                                         |
| `copy()`                      | Returns a shallow copy of the set.                                        |
| `difference(*other_sets)`     | Returns a set containing the difference between the set and others.        |
| `difference_update(*other_sets)` | Removes elements found in the specified sets from the current set.    |
| `discard(element)`            | Removes the specified element from the set if it exists.                  |
| `intersection(*other_sets)`    | Returns a set that contains all elements that are in both sets.          |
| `intersection_update(*other_sets)` | Updates the set to keep only elements found in both sets.            |
| `isdisjoint(other_set)`       | Returns `True` if the set has no elements in common with another set.    |
| `issubset(other_set)`         | Returns `True` if the set is a subset of another set.                    |
| `issuperset(other_set)`       | Returns `True` if the set is a superset of another set.                  |
| `pop()`                       | Removes and returns an arbitrary element from the set. Raises `KeyError` if the set is empty. |
| `remove(element)`             | Removes the specified element from the set. Raises `KeyError` if it is not present. |
| `symmetric_difference(other_set)` | Returns a set with elements in either the set or the other set but not in both. |
| `symmetric_difference_update(other_set)` | Updates the set with the symmetric difference of itself and another. |
| `union(*other_sets)`          | Returns a set containing all elements from the set and the specified sets. |
| `update(*other_sets)`         | Updates the set with elements from the specified sets.                    |

In [16]:

## Examples of Set Methods

# 1. **Adding an Element**:
#  ```python
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}
#  ```

# 2. **Clearing a Set**:
#  ```python
my_set.clear()
print(my_set)  # Output: set()
#  ```

# 3. **Copying a Set**:
#  ```python
original_set = {1, 2, 3}
copied_set = original_set.copy()
print(copied_set)  # Output: {1, 2, 3}
#  ```

# 4. **Difference Between Sets**:
#  ```python
set_a = {1, 2, 3}
set_b = {3, 4, 5}
difference = set_a.difference(set_b)
print(difference)  # Output: {1, 2}
#  ```

# 5. **Updating with Difference**:
#  ```python
set_a.difference_update(set_b)
print(set_a)  # Output: {1, 2}
#  ```

# 6. **Intersection of Sets**:
#  ```python
intersection = set_a.intersection(set_b)
print(intersection)  # Output: {3}
#  ```

# 7. **Checking Disjoint Sets**:
#  ```python
print(set_a.isdisjoint(set_b))  # Output: True or False
#  ```

# 8. **Subset and Superset**:
#  ```python
set_c = {1, 2}
print(set_c.issubset(set_a))  # Output: True
print(set_a.issuperset(set_c))  # Output: True
#  ```

# 9. **Removing an Element**:
#  ```python
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}
#  ```

# 10. **Symmetric Difference**:
# ```python
sym_diff = set_a.symmetric_difference(set_b)
print(sym_diff)  # Output: {1, 2, 4, 5}
# ```

# 11. **Union of Sets**:
# ```python
union_set = set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5}
# ```

# 12. **Updating with Union**:
# ```python
set_a.update(set_b)
print(set_a)  # Output: {1, 2, 3, 4, 5}
# ```

# These methods provide a robust framework for manipulating sets in Python, making them a
# versatile choice for managing collections of unique items and performing mathematical set operations.

# Citations:
# [1] https://www.w3schools.com/python/python_ref_set.asp
# [2] https://www.geeksforgeeks.org/python-sets/
# [3] https://realpython.com/python-sets/
# [4] https://stackoverflow.com/questions/139180/how-to-list-all-functions-in-a-module
# [5] https://www.programiz.com/python-programming/set
# [6] https://www.geeksforgeeks.org/sets-in-python/
# [7] https://www.datacamp.com/tutorial/python-list-function
# [8] https://stackoverflow.com/questions/2831212/python-sets-vs-lists

{1, 2, 3, 4}
set()
{1, 2, 3}
{1, 2}
{1, 2}
set()
True
True
True
{1, 3}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}