# Python Modules
There are two types of python modules:

**Built-in modules

**User-defined modules

1. Built-in modules:

math

date

os

sys

In [4]:
import math
cos90 = math.cos(90)
sin0 = math.sin(0)
tan45 = math.tan(45)
pie = math.pi
print(f"Value of cos90 is: {cos90}")
print(f"Value of sin0 is: {sin0}")
print(f"Value of tan45 is: {tan45}")
print(f"Value of pie is: {pie}")

Value of cos90 is: -0.4480736161291701
Value of sin0 is: 0.0
Value of tan45 is: 1.6197751905438615
Value of pie is: 3.141592653589793

In [ ]:
from math import e, tau
print( "The value of tau is: ", tau )
print( "euler's number is: ", e )

The value of tau is:  6.283185307179586
euler's number is:  2.718281828459045

In [ ]:
from math import sqrt, factorial, pi
print(sqrt(100))
print(factorial(5))
print(pi)

10.0
120
3.141592653589793

In [5]:
from math import sqrt, factorial, pi
print(sqrt(500))
print(factorial(25))
print(pi)

22.360679774997898
15511210043330985984000000
3.141592653589793

In [6]:
import math
x = math.ceil(6.4) #math.ceil() method rounds a number upwards to its nearest integer.
y = math.floor(5.7) #math.floor() method rounds a number downwards to its nearest integer,
print(x)
print(y)

7
5

In [ ]:
# The pow(x, y) function returns the value of x to the power of y (x^y).
import math
x = pow(4, 3)
print("4 to the power of 3:",x)

4 to the power of 3: 64

In [ ]:
import math
x = min(5, 10, 25)
y = max(5, 10, 25)

print("Minimum value in x: ",x)
print('Maximum value in y:',y)

Minimum value in x:  5
Maximum value in y: 25

In [ ]:
#The abs() function returns the absolute (positive) value of the specified number:
import math
x = abs(-49.25)
print(x)

49.25

# Data & Time

In [9]:
#using the datetime module
import datetime
now = datetime.datetime.now()
month = now.month
year = now.year
hour = now.hour
minute = now.minute
print(f"Month: {month}")
print(f"Year: {year}")
print(f"Hour: {hour}")
print(f"Minute: {minute}")

Month: 6
Year: 2024
Hour: 3
Minute: 40

In [10]:
import time
print(time.time())

1718682015.115304

In [11]:
#print the current time in human readable format
import time
print(time.ctime())

Tue Jun 18 03:40:17 2024

In [12]:
#the sleep() function inside time module is used to delay execution of current time thread by the given number of seconds.
import time
time.sleep(10)
print(time.ctime())

Tue Jun 18 03:40:30 2024

In [ ]:
#To get the output of local time in struct_time format, use the localtime() function.
import time

print(time.localtime(1658672956.8853111))

time.struct_time(tm_year=2022, tm_mon=7, tm_mday=24, tm_hour=19, tm_min=59, tm_sec=16, tm_wday=6, tm_yday=205, tm_isdst=0)

In [ ]:
#To get the output of Coordinated Universal Time in struct_time format, use the gmtime() function.
import time
print(time.gmtime(1658672956.8853111))

time.struct_time(tm_year=2022, tm_mon=7, tm_mday=24, tm_hour=14, tm_min=29, tm_sec=16, tm_wday=6, tm_yday=205, tm_isdst=0)

In [ ]:
#time.mktime():
#We also have the reverse of localtime() function that prints seconds passed since epoch in local time.
import time
local_time = (2022, 7, 24, 20, 14, 39, 6, 205, 0)
print(time.mktime(local_time))

1658673879.0

In [ ]:
#The asctime() function takes struct_time and prints a single string representing it.
import time
local_time = (2022, 7, 24, 20, 14, 39, 6, 205, 0)
print(time.asctime(local_time))

Sun Jul 24 20:14:39 2022

In [16]:
#time.strptime():
#This function parses string based on given format and returns it in struct_time format.
import time
local_time = "17 June, 2024"
print(time.strptime(local_time, "%d %B, %Y"))

time.struct_time(tm_year=2024, tm_mon=6, tm_mday=17, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=169, tm_isdst=-1)

In [15]:
#Calendar:
#We can even print a calendar for a particular month. This can be done using the calendar module.
import calendar
print(calendar.month(2024, 6))

     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [13]:
import os
print(os.getcwd())
print(os.getlogin())

/content

OSError: [Errno 6] No such device or address

In [17]:
#  using the sys module
import sys
print(sys.version)
print(sys.argv)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-8ab6f366-1464-43b7-89bd-b6196f36f6de.json']

In [18]:
# using the json module
import json
data = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
json_data = json.dumps(data)
print(json_data)

{"name": "John Doe", "age": 30, "city": "New York"}

In [ ]:
#using the random module
import random
print(random.randint(1, 100))
print(random.choice([1, 2, 3, 4, 5]))

14
1

# User-defined modules in Python
it is created by the user to simplify their project. These modules can contain functions, classes, variables, and other code that you can reuse across multiple scripts.

In [ ]:
import math

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition",num1 + num2)
print("Subtraction", num1-num2)
print("Multiplication",num1 * num2)
print("Division", num1/num2)

Enter first number:4
Enter second number:2
Addition 6
Subtraction 2
Multiplication 8
Division 2.0

In [19]:
Number = 204
def AddNumber():
    global Number
    Number = Number + 200
print("The number is:", Number)
# here, we are printing the number after performing the addition
AddNumber()
print("The number is:", Number)

The number is: 204
The number is: 404